<table width="100%" class="header" style="margin-top: 5px" height="172">
    <tr>
        <td valign="top"  style="padding:0 10px 10px 0; text-align: center; border-bottom: 1px solid #000;">
            <h2>МОНТАЖНАЯ КОМПАНИЯ</h2>
            <img src="https://raw.githubusercontent.com/gessdead/TotumEmail/master/projects/kilogram/build/images/logo_totum.png" alt="">
        </td>
    </tr>
    <tr>
        <td class="submenu">
            <span href="#">Монтаж</span>
            <span href="#">Демонтаж</span>
            <span href="#">Ремонт</span>
        </td>
    </tr>
<tr>
    <td style="text-align: center; padding-top: 35px;">
        <a href="#">
            <img src="https://raw.githubusercontent.com/gessdead/TotumEmail/master/projects/kilogram/build/images/what_btn.png" alt="ЧТО НУЖНО ЧТОБЫ ВАША РЕКЛАМА РАБОТАЛА?">
        </a>
    </td>
</tr>
</table>
