<table width="100%" class="header" style="margin-top: 5px">
    <tr>
        <td valign="top"  style="padding:0 10px 10px 0; text-align: center; border-bottom: 1px solid #000;">
            <h2>МОНТАЖНАЯ КОМПАНИЯ</h2>
            <img src="../images/logo_totum.png" alt="">
        </td>
    </tr>
    <tr>
        <td class="submenu">
            <a href="#">Монтаж</a>
            <a href="#">Демонтаж</a>
            <a href="#">Ремонт</a>
        </td>
    </tr>
<tr>
    <td style="text-align: center; padding-top: 35px;">
        <div class="wide-btn">
            ЧТО НУЖНО ЧТОБЫ ВАША РЕКЛАМА РАБОТАЛА?
        </div>
    </td>
</tr>
</table>
