<table width="100%" class="how-to" background="https://raw.githubusercontent.com/gessdead/TotumEmail/master/projects/kilogram/build/images/lines.png">
    <tr>
        <td align="left" class="how-to--td-left">
            <h2>ШАГ 1.<br/>
                ВЫБРАТЬ МЕСТО РАЗМЕЩЕНИЯ
            </h2>
            <p style="text-align: justify;">Специалисты монтажной компании «TOTUM» возьмут на себя осмотр,
                замер и комплексное обследование объекта с
                точки зрения ветровой нагрузки и удобства установки
            </p>
            <p class="how-to--bold">Результат: заключение о целесообразности размещения рекламы
                в выбранном месте, выбор способа крепления, рекомендации по материалу и
                габаритам рекламного носителя
            </p>
        </td>
    </tr>
    <tr>
        <td align="left" class="how-to--td-right">
            <h2 style="padding-right: 10px">ШАГ 2.<br/>
                СМОНТИРОВАТЬ И УСТАНОВИТЬ
                РЕКЛАМНУЮ КОНСТРУКЦИЮ
            </h2>
            <p style="text-align:justify;">Мы готовы взять на себя монтаж световых,
                несветовых и динамических рекламных конструкций –
                отдельностоящих или закрепленных на фасадах и крышах зданий,
                на дорожных столбах, в помещениях торгово-развлекательных,
                выставочных и офисных центров, а также монтаж баннеров и фальшфасадов
            </p>
            <p class="how-to--bold">Результат: надежно,
                ровно и оперативно размещенная наружная реклама
            </p>
        </td>
    </tr>
    <tr>
        <td align="left" class="how-to--td-left">
            <h2 style="padding-right: 10px">ШАГ 3.<br/>
                ПОДДЕРЖИВАТЬ РАБОТОСПОСОБНОСТЬ
                РЕКЛАМНЫХ КОНСТРУКЦИЙ
            </h2>
            <p style="text-align:justify;">Какие бы неприятности не произошли с вашей наружной рекламой,
                специалисты монтажной компании «TOTUM» смогут оперативно выехать на объект,
                устранить проблему и вернуть носителю презентабельный вид
            </p>
            <p class="how-to--bold">Результат: оперативное устранение любых нетшатных
                ситуаций и регулярное плановое обслуживание наружной рекламы
            </p>
        </td>
    </tr>
    <tr>
        <td align="left" class="how-to--td-right">
            <h2>ШАГ 4.<br/>
                СВОЕВРЕМЕННО МЕНЯТЬ РЕКЛАМНОЕ<br/>
                ОБРАЩЕНИЕ
            </h2>
            <p> Мы готовы взять на себя монтаж световых,
                несветовых и динамических рекламных конструкций – отдельностоящих или закрепленных
                на фасадах и крышах зданий, на дорожных столбах, в помещениях торгово-развлекательных,
                выставочных и офисных центров, а также монтаж баннеров и фальшфасадов
            </p>
            <p class="how-to--bold" style="margin-bottom: 0;">Результат: надежно,
                ровно и оперативно размещенная наружная реклама
            </p>
        </td>
    </tr>
    <tr>
        <td class="how-to--td-btn">
            <a href="#">
                <img src="https://raw.githubusercontent.com/gessdead/TotumEmail/master/projects/kilogram/build/images/2-layers.png" alt="Отправить заявку">
            </a>
        </td>
    </tr>
    <tr>
        <td class="how-to--td-center">
            МОНТАЖНАЯ КОМПАНИЯ «TOTUM»<br>
            выведет вашу рекламу на новую высоту, потому что
            <span>установка, обслуживание и ремонт любых видов
            наружной рекламы – это наша работа!</span>
        </td>
    </tr>

</table>
