<table width="100%" class="why-we">
    <tr>
        <td class="why-we--td-center">
            ПОЧЕМУ ВЫ МОЖЕТЕ НА НАС ПОЛОЖИТЬСЯ?
        </td>
    </tr>
    <tr>
        <td class="why-we--td-text">
            Мы знаем свое дело, ценим свою репутацию и уважаем своих клиентов.<br>
            Поэтому работаем с профессионализмом и с душой, стремясь не только
            к «достижению критериев эффективности», но и к тому,
            чтобы вам все понравилось, без компромиссов с совестью.
        </td>
    </tr>
    <tr>
        <td class="why-we--td-text">
            Мы никогда не забываем заранее обсудить с заказчиком все допуски, доступы
            и разрешения, для того чтобы выполнить монтаж в минимальный срок.
        </td>
    </tr>
    <tr>
        <td class="why-we--td-text" style="padding-top:60px;">
            Наши принципы: профессионализм, оперативность, ответственность и внимание к клиенту.<br>
            Следование этим принципам гарантирует вам отличный результат сотрудничества.
        </td>
    </tr>
    <tr>
        <td class="why-we--td-center why-we--td-center_mod">
            РЕЗУЛЬТАТ НАШЕЙ РАБОТЫ: <span>НАДЕЖНО, РОВНО, ОПЕРАТИВНО</span>
        </td>
    </tr>
    <tr>
        <td class="why-we--td-btn">
            <a href="#">КАК НАЧАТЬ СОТРУДНИЧЕСТВО С «TOTUM»?</a>
        </td>
    </tr>
    <tr>
        <td class="why-we--td-text_mod">
            <span>Просто позвоните нам прямо сейчас
            и&nbsp;пригласите&nbsp;специалиста «TOTUM» на ваш объект.</span><br>
            Сейчас это будет особенно выгодно, потому что
            до&nbsp;31&nbsp;ноября 2016 года
        </td>
    </tr>
    <tr>
        <td class="why-we--td-center why-we--td-center_mod2">
            ДИАГНОСТИКА И ЗАМЕР ОСУЩЕСТВЛЯЮТСЯ<br/> <b>БЕСПЛАТНО</b>
            <br/><span>(в пределах КАД)</span>
        </td>
    </tr>
    <tr>
        <td class="why-we--td-btn why-we--td-btn_mod">
            <a href="#">Отправить заявку</a>
        </td>
    </tr>
    <tr>
        <td class="why-we--td-text_mod why-we--td-text_mod2 ">
            <span>Доверьте нам любые задачи,</span>
            связанные&nbsp;с&nbsp;монтажом, демонтажом
            и&nbsp;ремонтом наружной рекламы –
            <span>мы&nbsp;качественно
            выполним&nbsp;порученную&nbsp;работу!</span>
        </td>
    </tr>
    <tr>
        <td class="why-we--td-addres ">
            <span>Адрес:</span> Санкт-Петербург,<br/>
            Петергофское шоссе, дом 73, корп. 12<br/>
            <span>Телефон:</span> <a href="tel:+78123324534">+7 (812) 332-45-34</a>,
            <a href="tel:+79217849637">+7 (921) 784-96-37</a><br/>
            <span>E-mail:</span> <a href="mailto:office@totum-spb.ru">office@totum-spb.ru</a>
        </td>
    </tr>
</table>
