<table width="100%" class="why-we" background="https://raw.githubusercontent.com/gessdead/TotumEmail/master/projects/kilogram/build/images/bg_2_2.png">
    <tr>
        <td class="why-we--td-center" background="https://raw.githubusercontent.com/gessdead/TotumEmail/master/projects/kilogram/build/images/brackets.png">
            ПОЧЕМУ ВЫ МОЖЕТЕ НА НАС ПОЛОЖИТЬСЯ?
        </td>
    </tr>
    <tr>
        <td align="center">
            <img src="https://raw.githubusercontent.com/gessdead/TotumEmail/master/projects/kilogram/build/images/circles1.png" alt=""/>
        </td>
    </tr>
    <tr>
        <td align="left" class="why-we--td-text">
            Мы знаем свое дело, ценим свою репутацию и уважаем своих клиентов.<br>
            Поэтому работаем с профессионализмом и с душой, стремясь не только
            к «достижению критериев эффективности», но и к тому,
            чтобы вам все понравилось, без компромиссов с совестью.
        </td>
    </tr>
    <tr>
        <td align="center">
            <img src="https://raw.githubusercontent.com/gessdead/TotumEmail/master/projects/kilogram/build/images/circles2.png" alt=""/>
        </td>
    </tr>
    <tr>
        <td align="left" class="why-we--td-text">
            Мы никогда не забываем заранее обсудить с заказчиком все допуски, доступы
            и разрешения, для того чтобы выполнить монтаж в минимальный срок.
        </td>
    </tr>
    <tr>
        <td align="center">
            <img src="https://raw.githubusercontent.com/gessdead/TotumEmail/master/projects/kilogram/build/images/circles3.png" alt="">
        </td>
    </tr>
    <tr>
        <td align="left" class="why-we--td-text">
            Наши принципы: профессионализм, оперативность, ответственность и внимание к клиенту.<br/>
            Следование этим принципам гарантирует вам отличный результат сотрудничества.
        </td>
    </tr>
    <tr>
        <td align="center" class="why-we--td-arrow">
            <img src="https://raw.githubusercontent.com/gessdead/TotumEmail/master/projects/kilogram/build/images/down_arrow.png" alt="">
        </td>
    </tr>
    <tr>
        <td align="center" class="why-we--td-center why-we--td-center_mod">
            РЕЗУЛЬТАТ НАШЕЙ РАБОТЫ: <span><b>НАДЕЖНО, РОВНО, ОПЕРАТИВНО</b></span>
        </td>
    </tr>
    <tr>
        <td align="center" class="why-we--td-btn">
            <a href="http://totum-spb.ru/" target="_blank">
                <img src="https://raw.githubusercontent.com/gessdead/TotumEmail/master/projects/kilogram/build/images/how_btn.png" alt="КАК НАЧАТЬ СОТРУДНИЧЕСТВО С «TOTUM»?">
            </a>
        </td>
    </tr>
    <tr>
        <td align="center" class="why-we--td-text_mod">
            <span><b>Просто позвоните нам прямо сейчас
            и&nbsp;пригласите&nbsp;специалиста «TOTUM» на ваш объект.</b></span><br/>
            Сейчас это будет особенно выгодно, потому что
            до&nbsp;31&nbsp;ноября 2016 года
        </td>
    </tr>
    <tr>
        <td align="center" background="https://raw.githubusercontent.com/gessdead/TotumEmail/master/projects/kilogram/build/images/brackets.png" class="why-we--td-center why-we--td-center_mod2">
            ДИАГНОСТИКА И ЗАМЕР ОСУЩЕСТВЛЯЮТСЯ<br/> <b>БЕСПЛАТНО</b>
            <br/>
            <span>(в пределах КАД)</span>
        </td>
    </tr>
    <tr>
        <td align="center" class="why-we--td-btn" style="padding-top: 30px;padding-bottom: 25px;">
            <a href="http://totum-spb.ru/" target="_blank">
                <img src="https://raw.githubusercontent.com/gessdead/TotumEmail/master/projects/kilogram/build/images/send_btn.png" alt="Отправить заявку">
            </a>
        </td>
    </tr>
    <tr>
        <td align="center" class="why-we--td-text_mod why-we--td-text_mod2">
            <span><b>Доверьте нам любые задачи,</b></span>
            связанные&nbsp;с&nbsp;монтажом, демонтажом
            и&nbsp;ремонтом наружной рекламы –
            <span><b>мы&nbsp;качественно
            выполним&nbsp;порученную&nbsp;работу!</b></span>
        </td>
    </tr>
    <tr>
        <td align="center" class="why-we--td-addres" >
            <span>Адрес:</span> <b>Санкт-Петербург,<br/>
            Петергофское шоссе, дом 73, корп. 12</b><br/>
            <span>Телефон:</span><b>+7 <b>(812)</b><b> 332</b>-<b>45</b>-<b>34</b>, +7 <b>(921)</b><b> 784</b><b>-96</b>-37</b><br/>
            <span>E-mail:</span> <b><a href="mailto:office@totum-spb.ru" style="color: #ffffff !important;">office@totum-spb.ru</a></b>
        </td>
    </tr>
</table>
