.credits,
.preheader {
    color: #999999;
    font-size: 12px;
    line-height: 16px;
    Margin: 0 0 1em 0;
}
.signature {
    Margin: 1em 0;
}
.content {
    padding: 0 0;
}
.header h2{
  text-align: center;
  font-family: @ptsans;
}

.submenu {
  text-align: center;
  padding-top: 5px;

  span {
    font-family: @font-family;
    display: inline;
    padding: 5px;
    font-size: 12px;
  }
}
.wide-btn {
  font-family: @font-family;
  background-color: @btn-color;
  color: @bg-color;
  padding: 5px 0;
  width: 500px;
  margin: 0 auto;
}

.how-to {
  text-align: left;

  h2 {
    font-weight: bold;
    color: @ttl-color;
    font-family: @ptsans;
  }

  p {
    line-height: 18px;
    text-align: justify;
  }

  &--bold {
    font-weight: bold;
    color: @ttl-color;

  }

  &--td-left {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 170px;
  }

  &--td-right {
    padding-top: 40px;
    padding-left: 170px;
    padding-right: 20px;
  }

  &--td-btn {
    padding-left: 350px;
    padding-top: 5px;
  }

  &--td-center {
    font-size: 18px;
    text-align: center;
    color: @bg-color;
    padding-top: 110px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 35px;
    font-family: @ptsans;

    span {
      letter-spacing: normal;
      font-weight: bold;
    }
  }
}

.why-we {
  &--td-center {
    padding-top:22.5px;
    padding-bottom: 15px;
    font-family: @ptsans;
    text-align: center;
    font-size: 20px;
    color: @brand-color;
  }

  &--td-center_mod {
    color: @color;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
    font-weight: bold;

    span {
      color: @ttl-color;
    }
  }

  &--td-center_mod2 {
    color: @btn-color;
    padding-top: 9px;
    padding-bottom: 0;

    span {
      font-size: @font-size;
      color: @ttl-color;
    }
  }

  &--td-text {
    padding: 5px 20px 5px;
    font-family: @ptsans;
    font-size: 14px;
    color: @brand-color;
  }

  &--td-text_mod {
    text-align: center;
    padding-top: 15px;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 25px;
    font-family: @ptsans;
    font-size: 18px;
    color: @color;
     
    span {
      font-weight: bold;
      color: @ttl-color;
    }
  }

  &--td-text_mod2 {
    text-align: center;
    padding-top: 0;
    padding-right: 150px;
    padding-left: 150px;
    padding-bottom: 5px;
    font-family: @ptsans;
    font-size: 16px;
    color: @color;

    span {
      color: @color;
      font-weight: bold;
    }
  }

  &--td-btn {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &--td-arrow {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  
  &--td-addres {
    text-align: center;
    color: @bg-color;
    padding-top: 80px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 20px;
    font-size:20px;
    font-weight: bold;
    font-family: @ptsans;

    a {
      color: @bg-color;
    }

    span {
      font-weight: normal;
    }
  }
}

